# Common gitignore for general files and IDE settings
node_modules
package-lock.json
.idea/
.vscode/


# Ignore terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.tfstate.lock.info
terraform.tfvars

# Ignore Contrast Security agent and config files
contrast.jar
contrast_security.yaml
contrast_security.prod.yaml
