# Common gitignore for general files and IDE settings
node_modules
package-lock.json
.idea/
*.iml
.vscode/
.sdkmanrc

# Ignore Java / Maven build files
.classpath
.project
.settings/
target/
_site/
/pom.maven
/working/
/bin/



# Ignore terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.tfstate.lock.info
terraform.tfvars

# Ignore Contrast Security agent and config files
contrast.jar
contrast-agent.jar
contrast_security.yaml
contrast_security.prod.yaml
